.btn{
    background-color: var(--color-yellow);
    display: inline-block;
    padding: .5em 1.5em;
    border-radius: .4em;
    i{

        font-size: 1.3rem;
        vertical-align: middle;
    }
}