<header>
    <nav class="nav flex container">
        <a href="#" class="nav__logo">
            <img class="nav__logo-image" src="../../../assets/images/logo.svg" alt="Company Logo">
        </a>
        <div class="nav__menu">
            <ul class="nav__menu-list flex">
                <li class="nav__menu-list-item">
                    <a href="#" class="nav__list-item-a">
                        <img src="../../../assets/images/calendar.svg" alt="Calendar Icon">
                    </a>
                </li>
                <li class="nav__menu-list-item">
                    <a href="#" class="nav__list-item-a">
                        <span>Day 1</span> <br/> of 5
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>