.hero{
    margin-top: 5em;
    margin-bottom: 2em;

    h1{
        font-weight: var(--regular-font);
        span{
            margin-top: -0.4em;
            display: block;
            font-weight: var(--bold-font);

            @media(max-width: 500px) {
                display:inline;
            }
        }
    }

    & .container>p{
        font-size: 1.2rem;
        margin-top: .8em;

        span{
            font-weight: var(--bold-font);
        }
        .stat{
            display:block;
            @media(max-width: 500px) {
                display:none;
            }
        }

        
    }

    
    &__offering{
        max-width: 27em;
        margin: 1em auto;
        padding: 2em;
        border-radius: .5em ;
        text-align: left;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
        border-radius: 8px;

        h5{
            margin-bottom: 1em;
        }

        li, p{
            font-size: 0.8rem;
        }

        &>p{
            margin-top: .8em;
            margin-bottom: .8em;
        }

        &-notice{
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: .5em;
            gap: .5em;
            border-radius:.5em ;
            i{
                font-style: normal;
            }
            p{
                text-align: justify;
            }
        }

    }
}