<section class="hero ">
       <div class="container text-center">
           <h1>Unlock to <span>Power your dreams!</span></h1>
           <p>Stand a chance to win <br class="stat"/><span>N3,000,000</span> everyday for the next 5 days</p>

           <div class="hero__offering">
                <h5 class="text-center">🚀 &nbsp; How To Play</h5>
                <ul class="hero__offering-list">
                    <li>1. Guess the right combination of numbers</li>
                    <li>2. Win N3,000,000 instantly</li>
                </ul>
                <p>Sounds unbelievable? Well, guess right & see for yourself!</p>
                <div class="hero__offering-notice flex">
                    <i>💡</i>
                    <p>Think well before you guess. You have only 2 attempts per day and even after you win, you can come back the next day to try for another jackpot!</p>
                </div>
           </div>
           <app-button></app-button>
       </div>
       
</section>